.slide {
  height: 10vh;
  max-height: 848px;
  min-height: 848px;
  position: relative;
  z-index: 0;
}

.customBullet {
  background: transparent;
  border: 1px solid #d9d9d9;
  height: 15px;
  margin: 0 20px !important;
  opacity: 1;
  text-indent: -9999em;
  width: 15px;
}

.background {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.background::after {
  background: #000000;
  display: block;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
}

.background img,
.background video {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: cente center;
  position: absolute;
  top: 0;
}

.wrapper {
  left: 50%;
  max-width: 945px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  margin: 0 auto 50px;
  max-width: 339px;
}

.logo img {
  display: block;
  height: auto;
  max-width: 100%;
}

.title {
  color: #cec8af;
  font-family: var(--font-dimbo);
  font-size: 74px;
  line-height: 100%;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.description {
  color: #ffffff;
  font-size: 26px;
  margin-bottom: 64px;
  text-align: center;
}
